anthropic
boto3
tiktoken
PyPDF2
numpy
pgvector
psycopg2-binary
langchain
langchain-aws
langchain-anthropic
langchain-community
langchain-text-splitters
langchain-experimental
langgraph
mcp
# Required for MarkdownHeaderTextSplitter internally, occasionally for others
urllib3
